<div class="nav-wrapper">
    <div class="container">
        <div class="row fs-0">
            <div class="col-xs-7 col-md-3 center-col">
                <h1>Nicolas Marqui</h1>
            </div>

            <div class="col-md-9 hidden-xs center-col text-right">
                <div class="menu">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Posts</a></li>
                        <li><a href="#">Disciplinas</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>