<div class="post-wrapper">
    <div class="date-corner">
        <span>11</span><span>05</span>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <img src="https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
            </div>

            <div class="col-xs-12 col-md-8">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa qui odit quam voluptatibus doloremque libero eligendi asperiores ratione, molestiae mollitia quidem blanditiis repellat vero nulla!

                <div class="tags">
                    <ul>
                        <li><a href="#">Fatec</a></li>
                        <li><a href="#">4° Semestre</a></li>
                        <li><a href="#">Estrutura de dados</a></li>
                    </ul>
                </div>

                <div class="buttons">
                    <a href="#">Leia Mais</a>
                    <a href="#">Teste</a>
                </div>
            </div>
        </div>
    </div>
</div>